<div class="inset">
  <h1>Notification Generator</h1>
  <h2>Invite</h2>
  <form id="invite_gen">
    <input type="hidden" name="type" value="invite"></input>
   
    <div data-role="fieldcontain">
      Inviter:
      <select name="inviter_id" data-role="select" data-mini="true" data-inline="true">
        <% User.all.each do |u| %>
          <option value="<%= u.id %>"><%= u.fullname %></option>
        <% end %>
      </select>
    </div>
  
    <div data-role="fieldcontain">
      Invitee
      <select name="invitee_id" data-role="select" data-mini="true" data-inline="true">
        <% User.all.each do |u| %>
          <option value="<%= u.id %>"><%= u.fullname %></option>
        <% end %>
      </select>
    </div>
    
    
    <div data-role="fieldcontain">
      Has App
      <select name="has_app" data-role="select" data-mini="true" data-inline="true">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
  
    <div data-role="fieldcontain">
      Occasion
      <select name="occasion_id" data-role="select" data-mini="true"  data-inline="true">
        <% Occasion.all.each do |o| %>
          <option value="<%= o.id %>"><%= o.name %></option>
        <% end %>
      </select>
    </div>
  
    <span data-role="button" data-mini="true" data-inline="true"
         onclick="NotificationGen.gen( $(this).closest('form') )">Generate</span>
    <p class="result"></p>
  </form>
</div>
