<!-- Zoom_photo -->
<img id="zoom_photo">
<!-- Loader spinner -->
<div id="fullpage_loader_spinner" class="loader_spinner"></div>

<!-- FTUI pages -->
<%= render :partial => 'splash' %>
<%= render :partial  => 'welcome2' %>
<%= render :partial => 'confirm_check_cookies2' %> 
<%= render :partial => 'confirm_known_user2' %>
<%= render :partial => 'unknown_user2' %>
<%= render :partial => 'edit_name2' %>
<%= render :partial => 'what_next2' %>
<%= render :partial => 'version_mgt' %>

<!-- In App pages -->
<%= render :partial => 'occasions2' %>
<%= render :partial => 'occasion_for_pic2' %>
<%= render :partial => 'gallery2' %>
<%= render :partial => 'add_participants2' %>
<%= render :partial => 'blank_page' %>
<%= render :partial => 'gallery_picker' %>


<!-- Shared pages -->
<%= render :partial => "no_network" %>
<%= render :partial => "network_error" %>
<%= render :partial => "flash_notice" %>
<%= render :partial => "/app/phone_w_country/country_code_list" %>

<!-- Admin and Test Pages -->
<%= render :partial => '/app/admin/admin' %>
<%= render :partial => '/app/admin/test_pages' %>

